{% extends 'base.html' %}

{%block title%}
Features | Zaplabs
{%endblock%}

{%block content%}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Zaplabs Features</h1>
    <p class="lead font-weight-normal">One platform for your organization to manage inventory, stock and sales</p>
    <a class="btn btn-lg btn-outline-success mb-3 mb-md-0 mr-md-3" href="{{url_for('register')}}"><b>TRY FOR FREE</b></a>
    <a href="{{url_for('features')}}" class="btn btn-lg btn-outline-primary" onclick="ga('features');">SEE ALL FEATURES</a>
  </div>

<div class="masthead-followup row m-0 border border-white">
  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <h3>It's all happening here</h3>
    <p>Follow along with everything that relates to stock management, inventory management and sales management.</p>
    <hr class="half-rule">
    <a class="btn btn-outline-primary" href="{{url_for('signin')}}">Explore Inventory Management</a>
  </div>

  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <h3>History you can see</h3>
    <p>Zaplabs saves everything including sales.
        Rather than trying to remember, easily find what you’re looking for and create a report.
    </p>
    <link rel="stylesheet" href="" integrity="#" crossorigin="anonymous">
        <hr class="half-rule">
        <a class="btn btn-outline-primary" href="{{url_for('signin')}}">Explore Stock Management</a>
      </div>
    
      <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
        <h3>Work closer as an organization</h3>
        <p>Kepp all stock, inventory and sales activities close in Zaplabs. Work moves faster when business solutions promote efficiency and effectiveness.
        </p>

        <hr class="half-rule">
        <a href="{{url_for('signin')}}" class="btn btn-outline-primary">Explore Sales</a>
      </div>
    </div>
    
{%endblock%}

{%block footer%}

{%endblock%}