{% extends 'base.html' %}

{%block title%}
Pricing | Zaplabs
{%endblock%}

{%block content%}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pricing</h1>
    <p class="lead">Manage your inventory, stock and sales.
        Make inventory,stock and sales management more effective and efficient.</p>
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Free</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">KES 0 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 users included</li>
            <li>2 GB of storage</li>
            <li>Email support</li>
            <li>Help center access</li>
            <li>Contact centre 24/7</li>
          </ul>
          <a class="btn btn-lg btn-block btn-outline-primary" href="{{url_for('register')}}">Sign up for free</a>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">KES 1500 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>20 users included</li>
            <li>10 GB of storage</li>
            <li>Priority email support</li>
            <li>Help center access</li>
            <li>Contact centre 24/7</li>
          </ul>
          <a class="btn btn-lg btn-block btn-primary" href="{{url_for('register')}}">Get started</a>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Enterprise</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">KES 2900 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>30 users included</li>
            <li>15 GB of storage</li>
            <li>Phone and email support</li>
            <li>Help center access</li>
            <li>Contact centre 24/7</li>
          </ul>
          <a class="btn btn-lg btn-block btn-primary" href="{{url_for('contactsales')}}">Contact Sales</a>
        </div>
      </div>
    </div>

{%endblock%}

{%block footer%}

{%endblock%}